/* Regex Colorizer default theme */

.regex b     {background: #aad1f7;} /* metasequence */
.regex i     {background: #e3e3e3;} /* char class */
.regex i b   {background: #9fb6dc;} /* char class: metasequence */
.regex i u   {background: #c3c3c3;} /* char class: range-hyphen */
.regex b.g1  {background: #b4fa50; color: #000;} /* group: depth 1 */
.regex b.g2  {background: #8cd400; color: #000;} /* group: depth 2 */
.regex b.g3  {background: #26b809; color: #000;} /* group: depth 3 */
.regex b.g4  {background: #30ea60; color: #000;} /* group: depth 4 */
.regex b.g5  {background: #51c058; color: #000;} /* group: depth 5 */
.regex b.err {background: #f76666; color: #000;} /* error */
.regex b, .regex i, .regex u {font-weight: normal; font-style: normal; text-decoration: none;}

pre.regex {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  grid-area: top;

  cursor: text;

  background: transparent;
  color: transparent;
  z-index: -1;
  border: 1px solid transparent;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
  border-radius: 7px;
  outline: none;
  font-family: 'Noto Mono', 'Consolas', monospace;

  font-size:1.1em;
}


input.regex-editor {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  grid-area: top;

  cursor: text;

  background: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  outline: none;
  font-family: 'Noto Mono', 'Consolas', monospace;

  font-size:1.1em;

  transition: border 500ms ease-in-out;
  transition: box-shadow 500ms ease-in-out;
}

input.regex-editor:focus {
  border: 1px solid #43a047;
  box-shadow: 0px 4px 10px #00330040;
}

.message {
  margin: -20px 0 0 0;
  grid-area: message;
  color: #666666;
}

.message.fade-in {
  animation: fade-in 0.25s ease-in-out forwards;
}

.message.fade-out {
  animation: fade-out 0.25s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.case-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-area: bottom;
  justify-content: flex-start;
}

.case-text{
  cursor: text;
}

.case[passed=true] {
  display: flex;
  margin: 20px;
  align-items: center;
  width: 35%;
  color: green;
}

.case:not([passed=true]) {
  display: flex;
  margin: 20px;
  align-items: center;
  width: 35%;
  color: black;
}

[passed=true] > .checkmark {
  width: min-content;
  display: block;
}

[passed=true] > .checkmark-outline {
  width: min-content;
  display: none;
}

:not([passed=true]) > .checkmark {
  width: min-content;
  display: none;
}

:not([passed=true]) > .checkmark-outline {
  width: min-content;
  display: block;
}

.case-text {
  font-family: 'Noto Mono', 'Consolas', monospace;
  width: 100%;
  font-size: 1.1em;
}

.input-highlight {
  background-color: rgba(106, 216, 253, 0.404);
  border-left: 2px solid rgba(17, 165, 214, 0.5);
  border-right: 2px solid rgb(17, 165, 214, 0.5);
}

.target-highlight {
  background-color: #dbbf4159;
  border-left: 1.5px solid rgb(143, 123, 37, 0.5);
  border-right: 1.5px solid rgb(143, 123, 37, 0.5);
}

.input-group-highlight {
  background-color: rgba(46, 190, 238, 0.404);
  text-decoration: underline rgb(22, 145, 185) dotted;
}

.target-group-highlight {
  text-decoration: underline rgb(13, 158, 13) dotted;
  background-color: #c9ad3359;
  text-decoration: underline rgb(18, 150, 18) dotted;
}

html, body{
  margin:0;
  padding:0;

  cursor: default;
}

#grid {
  position: absolute;
  display: grid;
  grid-template-areas:
  "navbar page";
  grid-template-columns: 25vw auto;
  gap: 0px;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  column-gap: 30px;
  font-family: 'Noto Sans', Calibri, sans-serif;
}

.page{
  grid-area: page;
  display: grid;
  grid-template-areas:
  "topbar"
  "main"
  "footer";
  grid-template-rows: min-content auto min-content;
  gap: 0px;
  margin:0;
  padding:0 40px 0 0;
  width: calc(100% - 40px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

code {
  font-family: 'Noto Mono', Consolas, monospace;
  background-color: #00000011;
  color: #000000aa;
}

main {
  padding: 10px;
  height: 100%;
  grid-area: main;
  width: 100%;
  display: grid;
  grid-template-areas:
  "top"
  "message"
  "bottom";
  grid-template-rows: 80px min-content auto;
  align-items: center;
  gap: 10px 10px;
}

header {
  grid-area: topbar;
}

footer {
  grid-area: footer;
  display: grid;
  align-items: center;
  grid-template-areas:
  "left right";
  grid-template-columns: auto min-content;
  gap: 10px 10px;
}

nav{
  grid-area: navbar;
  height:100vh;
}

.nav-list {
  min-width: 250px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 30px 30px 0;
  background-color: #f1f8e9;
  height: calc(100% - 60px);
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#progress-bar {
  grid-area: left;
  background-color: lightgrey;
  height: min-content;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar > div {
  background-color: #43a047;
  padding: 2px 5px;
  border-radius: 5px;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .1) 50%,
    rgba(255, 255, 255, .1) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  animation: move 20s linear infinite;
  transition: width 500ms ease-in-out;
}

#progress-bar > div > div {
  color: white;
  padding: 0px 10px;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.fab-btn[enabled=true] {
  opacity: 1;
}

.fab-btn:not([enabled=true]) {
  opacity: 0.5;
}

.fab-btn{
  margin: 50px 10px 50px 50px;
  grid-area: right;
  color: white;
  border-radius: 50%;
  width: 64px;
  height: 64px;

  background: #66bb6a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background 500ms ease-in-out;
  transition: box-shadow 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.fab-btn[enabled=true]:hover {
  background: #4caf50;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.fas {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 2.2em;
  transform: translate(-50%, -50%);
}

* {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

*[faded=true] {
  opacity: 0;
}

.nav-item {
  line-height: 2em;
  margin-left: 0;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 20px;

  display: grid;
  grid-template-areas: "left  right";
  grid-template-columns: auto min-content;

  cursor: pointer;

  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav-item > .checkmark {
  grid-area: right;
  margin: auto;
}

.nav-item[passed=true] > .checkmark {
  display: block;
}

.nav-item:not([passed=true]) > .checkmark {
  display: none;
}

.nav-item[current=true] {
  background-color: #7cb342;
  color: #fff;
}

.nav-item:not([current=true])[unlocked=true] {
  background-color: transparent;
  color: #000;
}

.nav-item:not([current=true]):not([unlocked=true]) {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.endscreen {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endscreen h1 {
  color: white;
  font-family: 'Noto Sans', 'Microsoft Sans Serif', Calibri, sans-serif;
  font-size: 5em;
  font-weight: bolder;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  animation: fade-in-with-shadows 2s ease-in-out forwards;
}

.endscreen p {
  color: white;
  font-family: 'Noto Sans', 'Microsoft Sans Serif', Calibri, sans-serif;
  font-size: 1.5em;
}

.endscreen .background-wipe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: -1;
}

.endscreen .background-wipe div {
  width: 25%;
  height: 100%;
  background: #7cb342;
  transform-origin: top;
  transform: scaleY(0);
  animation: wipe 2s ease-in-out forwards;
}

.endscreen .background-wipe div:nth-child(even){
  background: #78ad3e;
}

.endscreen .background-wipe div:nth-child(1){
  animation-delay: 0s;
}

.endscreen .background-wipe div:nth-child(2){
  animation-delay: 0.25s;
}

.endscreen .background-wipe div:nth-child(3){
  animation-delay: 0.5s;
}

.endscreen .background-wipe div:nth-child(4){
  animation-delay: 0.75s;
}

@keyframes fade-in-with-shadows {
  0% {
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 0;
  }
  100% {
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    opacity: 1;
  }
}

@keyframes wipe {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}